
@{
    Layout = "~/Views/Shared/_Template.cshtml";

    ViewBag.MonthlyPlan1 = "SILVER";
    ViewBag.MonthlyPlanLabel = "PLAN";
    ViewBag.MonthlyPlan1DescriptionLabel = "Best starting value!";
    ViewBag.MonthlyPlan1RateAsLowAsLabel = "rate as low as";
    ViewBag.MonthlyPlan1LowestRateLabel = "2.29";
    ViewBag.MonthlyPlan1CurrentPriceLabel = "3.95";
    ViewBag.MonthlyPlan1CurrentTermLabel = "per month";
    ViewBag.MonthlyPlan1FullPriceLabel = "4.35";
    ViewBag.MonthlyPlan1SavePercentageLabel = "10";
    ViewBag.MonthlyPlan2 = "GOLD";
    ViewBag.MonthlyPlan2DescriptionLabel = "Best starting value!";
    ViewBag.MonthlyPlan2RateAsLowAsLabel = "rate as low as";
    ViewBag.MonthlyPlan2LowestRateLabel = "2.29";
    ViewBag.MonthlyPlan2CurrentPriceLabel = "5.95";
    ViewBag.MonthlyPlan2FullPriceLabel = "6.65";
    ViewBag.MonthlyPlan3 = "PLATINUM";
    ViewBag.MonthlyPlan3DescriptionLabel = "Best starting value!";
    ViewBag.MonthlyPlan3RateAsLowAsLabel = "rate as low as";
    ViewBag.MonthlyPlan3LowestRateLabel = "2.29";
    ViewBag.MonthlyPlan3CurrentPriceLabel = "9.95";
    ViewBag.MonthlyPlan3FullPriceLabel = "10.95";
    ViewBag.SelectButtonLabel = "SELECT";
    ViewBag.GetItNowButtonLabel = "Get It Now";

    ViewBag.MonthlyPlanSaveLabel = "Save";

    //FEATURES
    ViewBag.AvailableFeaturesLabel = "Available Features";
    ViewBag.Feature1 = "Online Terminal";
    ViewBag.Feature2 = "Mobile Application";
    ViewBag.Feature3 = "Mobile Website";
    ViewBag.Feature4 = "Touchtone Phone";
    ViewBag.Feature5 = "Buy It Now Button";
    ViewBag.Feature6 = "Donate Now Button";
    ViewBag.Feature7 = "Stored Cards";
}

<article class="col-md-12">
    <div class="section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul id="feaures-and-pricing-selector" class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#monthly" id="monthly-tab" role="tab" data-toggle="tab" aria-controls="monthly" aria-expanded="true"><i class="fa fa-usd"></i> MONTHLY</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#yearly" role="tab" id="yearly-tab" data-toggle="tab" aria-controls="yearly" aria-expanded="false"><i class="fa fa-usd"></i> YEARLY</a> </li>
                    </ul>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <!-- Content Panel -->
                    <div id="features-and-pricing" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="monthly" aria-labelledby="monthly-tab" aria-expanded="true">
                            <div class="row">
                                <div class="col-sm">
                                    @*SILVER PLAN*@
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        <span class="plan-header-name">@Html.Raw(ViewBag.MonthlyPlan1)</span>
                                                        <span class="plan-header-plan">@Html.Raw(ViewBag.MonthlyPlanLabel)</span>
                                                        <div class="plan-header-value">@Html.Raw(ViewBag.MonthlyPlan1DescriptionLabel)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>@Html.Raw(ViewBag.MonthlyPlan1CurrentPriceLabel)</h1>
                                            <div class="text-center ptb15">
                                                <div class="display-inline">
                                                    <span class="color-red">*</span> @Html.Raw(ViewBag.MonthlyPlan1RateAsLowAsLabel) <span class="rates-as-low-as-percentage">@Html.Raw(ViewBag.MonthlyPlan1LowestRateLabel)%</span>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round" onclick="dataLayer.push({'Plan Choice': '@Html.Raw(ViewBag.MonthlyPlan1)','event': 'Selected'});">@Html.Raw(ViewBag.SelectButtonLabel)</button>
                                            <div class="features-and-pricing-holder">
                                                <div class="features-and-pricing-header">
                                                    @Html.Raw(ViewBag.AvailableFeaturesLabel)
                                                </div>
                                            </div>
                                            <ul>
                                                <li>@Html.Raw(ViewBag.Feature1)</li>
                                                <li>@Html.Raw(ViewBag.Feature2)</li>
                                                <li>@Html.Raw(ViewBag.Feature3)</li>
                                                <li>@Html.Raw(ViewBag.Feature4)</li>
                                                <li>@Html.Raw(ViewBag.Feature5)</li>
                                                <li>@Html.Raw(ViewBag.Feature6)</li>
                                                <li>@Html.Raw(ViewBag.Feature7)</li>
                                            </ul>
                                            <div class="rates-divider"></div>
                                            <h1 class="block-caption-bottom"><small>$</small>@Html.Raw(ViewBag.MonthlyPlan1CurrentPriceLabel)<small>@Html.Raw(ViewBag.MonthlyPlan1CurrentTermLabel)</small></h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">@Html.Raw(ViewBag.MonthlyPlan1FullPriceLabel)</span>
                                                        <span class="discounted-plan-percentage">@Html.Raw(ViewBag.MonthlyPlanSaveLabel) @Html.Raw(ViewBag.MonthlyPlan1SavePercentageLabel)%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round" onclick="dataLayer.push({'Plan Choice': '@Html.Raw(ViewBag.MonthlyPlan1)','event': 'Get It Now'});">@Html.Raw(ViewBag.GetItNowButtonLabel)</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    @*GOLD PLAN*@
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        <span class="plan-header-name">@Html.Raw(ViewBag.MonthlyPlan2)</span>
                                                        <span class="plan-header-plan">@Html.Raw(ViewBag.MonthlyPlanLabel)</span>
                                                        <div class="plan-header-value">@Html.Raw(ViewBag.MonthlyPlan2DescriptionLabel)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>@Html.Raw(ViewBag.MonthlyPlan2CurrentPriceLabel)</h1>
                                            <div class="text-center ptb15">
                                                <div class="display-inline">
                                                    <span class="color-red">*</span> @Html.Raw(ViewBag.MonthlyPlan2RateAsLowAsLabel) <span class="rates-as-low-as-percentage">@Html.Raw(ViewBag.MonthlyPlan2LowestRateLabel)%</span>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round" onclick="dataLayer.push({'Plan Choice': '@Html.Raw(ViewBag.MonthlyPlan2)','event': 'Selected'});">@Html.Raw(ViewBag.SelectButtonLabel)</button>
                                            <div class="features-and-pricing-holder">
                                                <div class="features-and-pricing-header">
                                                    @Html.Raw(ViewBag.AvailableFeaturesLabel)
                                                </div>
                                            </div>
                                            <ul>
                                                <li>@Html.Raw(ViewBag.Feature1)</li>
                                                <li>@Html.Raw(ViewBag.Feature2)</li>
                                                <li>@Html.Raw(ViewBag.Feature3)</li>
                                                <li>@Html.Raw(ViewBag.Feature4)</li>
                                                <li>@Html.Raw(ViewBag.Feature5)</li>
                                                <li>@Html.Raw(ViewBag.Feature6)</li>
                                                <li>@Html.Raw(ViewBag.Feature7)</li>
                                            </ul>
                                            <div class="rates-divider"></div>
                                            <h1 class="block-caption-bottom"><small>$</small>@Html.Raw(ViewBag.MonthlyPlan2CurrentPriceLabel)<small>@Html.Raw(ViewBag.MonthlyPlan2CurrentTermLabel)</small></h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">@Html.Raw(ViewBag.MonthlyPlan2FullPriceLabel)</span>
                                                        <span class="discounted-plan-percentage">@Html.Raw(ViewBag.MonthlyPlanSaveLabel) @Html.Raw(ViewBag.MonthlyPlan2SavePercentageLabel)%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round" onclick="dataLayer.push({'Plan Choice': '@Html.Raw(ViewBag.MonthlyPlan2)','event': 'Get It Now'});">@Html.Raw(ViewBag.GetItNowButtonLabel)</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    @*PLATINUM PLAN*@
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        @*class="plan-header-name"*@
                                                        <span class="plan-header-name">@Html.Raw(ViewBag.MonthlyPlan3)</span>
                                                        <span class="plan-header-plan">@Html.Raw(ViewBag.MonthlyPlanLabel)</span>
                                                        <div class="plan-header-value">@Html.Raw(ViewBag.MonthlyPlan3DescriptionLabel)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>@Html.Raw(ViewBag.MonthlyPlan3CurrentPriceLabel)</h1>
                                            <div class="text-center ptb15">
                                                <div class="display-inline">
                                                    <span class="color-red">*</span> @Html.Raw(ViewBag.MonthlyPlan3RateAsLowAsLabel) <span class="rates-as-low-as-percentage">@Html.Raw(ViewBag.MonthlyPlan3LowestRateLabel)%</span>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round" onclick="dataLayer.push({'Plan Choice': '@Html.Raw(ViewBag.MonthlyPlan3)','event': 'Selected'});">@Html.Raw(ViewBag.SelectButtonLabel)</button>
                                            <div class="features-and-pricing-holder">
                                                <div class="features-and-pricing-header">
                                                    @Html.Raw(ViewBag.AvailableFeaturesLabel)
                                                </div>
                                            </div>
                                            <ul>
                                                <li>@Html.Raw(ViewBag.Feature1)</li>
                                                <li>@Html.Raw(ViewBag.Feature2)</li>
                                                <li>@Html.Raw(ViewBag.Feature3)</li>
                                                <li>@Html.Raw(ViewBag.Feature4)</li>
                                                <li>@Html.Raw(ViewBag.Feature5)</li>
                                                <li>@Html.Raw(ViewBag.Feature6)</li>
                                                <li>@Html.Raw(ViewBag.Feature7)</li>
                                            </ul>
                                            <div class="rates-divider"></div>
                                            <h1 class="block-caption-bottom"><small>$</small>@Html.Raw(ViewBag.MonthlyPlan3CurrentPriceLabel)<small>@Html.Raw(ViewBag.MonthlyPlan3CurrentTermLabel)</small></h1>
                                            <div class="text-center ptb15">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">@Html.Raw(ViewBag.MonthlyPlan3FullPriceLabel)</span>
                                                        <span class="discounted-plan-percentage">@Html.Raw(ViewBag.MonthlyPlanSaveLabel) @Html.Raw(ViewBag.MonthlyPlan3SavePercentageLabel)%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round" onclick="dataLayer.push({'Plan Choice': '@Html.Raw(ViewBag.MonthlyPlan3)','event': 'Get It Now'});">@Html.Raw(ViewBag.GetItNowButtonLabel)</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="yearly" aria-labelledby="yearly-tab" aria-expanded="false">
                            <div class="row">
                                <div class="col-md">
                                    <div class="block block-pricing">
                                        @*YEARLY SILVER*@
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        <span class="plan-header-name">SILVER</span>
                                                        <span class="plan-header-plan">PLAN</span>
                                                        <div class="plan-header-value">Best starting value!</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>29.99</h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    * rate as low as <span class="rates-as-low-as-percentage">2.29%</span>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Select</button>
                                            <div class="features-and-pricing-holder">
                                                <div class="features-and-pricing-header">
                                                    Available Features
                                                </div>
                                            </div>
                                            <ul>
                                                <li>Online Terminal</li>
                                                <li>Mobile Application</li>
                                                <li>Mobile Website</li>
                                                <li>Touchtone Phone</li>
                                                <li>Buy It Now Button</li>
                                                <li>Donate Now Button</li>
                                                <li>Stored Cards</li>
                                            </ul>
                                            <div class="rates-divider"></div>
                                            <h1 class="block-caption-bottom"><small>$</small>29.99<small>per year</small></h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">32.99</span>
                                                        <span class="discounted-plan-percentage">Save 10%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Get It Now</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="block block-pricing">
                                        @*YEARLY GOLD*@
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        <span class="plan-header-name">GOLD</span>
                                                        <span class="plan-header-plan">PLAN</span>
                                                        <div class="plan-header-value">Best starting value!</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>34.99</h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    * rate as low as <span class="rates-as-low-as-percentage">2.29%</span>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Select</button>
                                            <div class="features-and-pricing-holder">
                                                <div class="features-and-pricing-header">
                                                    Available Features
                                                </div>
                                            </div>
                                            <ul>
                                                <li>Online Terminal</li>
                                                <li>Mobile Application</li>
                                                <li>Mobile Website</li>
                                                <li>Touchtone Phone</li>
                                                <li>Buy It Now Button</li>
                                                <li>Donate Now Button</li>
                                                <li>Stored Cards</li>
                                            </ul>
                                            <div class="rates-divider"></div>
                                            <h1 class="block-caption-bottom"><small>$</small>34.99<small>per year</small></h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">38.49</span>
                                                        <span class="discounted-plan-percentage">Save 10%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Get It Now</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md" hidden>
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <h6 class="category">Corporate</h6>
                                            <h1 class="block-caption"><small>$</small>79</h1>
                                            <ul>
                                                <li><b>4 GB</b> Ram</li>
                                                <li><b>7/24</b> Tech Support</li>
                                                <li><b>40 GB</b> SSD Cloud Storage</li>
                                                <li>Monthly Backups</li>
                                                <li>Palo Protection</li>
                                            </ul> <a href="#" class="partner-btn btn-primary btn-round">Sign Up</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md" hidden>
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <h6 class="category">Professional</h6>
                                            <h1 class="block-caption"><small>$</small>99</h1>
                                            <ul>
                                                <li><b>4 GB</b> Ram</li>
                                                <li><b>7/24</b> Tech Support</li>
                                                <li><b>40 GB</b> SSD Cloud Storage</li>
                                                <li>Monthly Backups</li>
                                                <li>Palo Protection</li>
                                            </ul> <a href="#" class="partner-btn btn-primary btn-round">Sign Up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>


