<!DOCTYPE html>
@{
    ViewBag.Language = "en-us";
    ViewBag.LanguageDirection = "ltr";

    // ***** STEP 1 : PICK THE THEME *****
    ViewBag.PartnerTheme = "Default";
    //ViewBag.PartnerTheme = "TMobile";
    //ViewBag.PartnerTheme = "MaryKay";
    //ViewBag.PartnerTheme = "ThirtyOne";
    //ViewBag.PartnerTheme = "iMobile3";
    ViewBag.PageTitle = "Small Business Merchant Account Features &amp; Pricing";
    ViewBag.PageDescription = "Accept Credit cards anytime, anywhere, in-person, online, mobile.  Payment solutions for Small Businesses. Low rates, free support. Sign up in 5 minutes. Compare to Square &amp; PayPal.";

    // ***** STEP 2 : PICK THE PARTNER'S NAME *****
    ViewBag.PartnerName = "ProPay";
    //ViewBag.PartnerName = "T-Mobile";
    //ViewBag.PartnerName = "Mary Kay";
    //ViewBag.PartnerName = "31Gifts";
    //ViewBag.PartnerName = "iMobile3";

    ViewBag.PartnerGoogleTagManagerID = "GTM-MZ8MRT";  // This is the Partner's Google Tag Manager associated with the custom URL and Tag Manager View
    ViewBag.GoogleUniversalID = "UA-12739219-14"; // Use the Google Universal ID for Partners using legacy Google analytics
    ViewBag.PartnerBingValidationID = "90F39A1349E577CF8C33173B061B6A01"; // Bing Ownership Verification tag associated with the URL.

    // ***** STEP 3 : MATCH THE PARTNER THEME, NAME AND CUSTOM COLORS *****
    //PROPAY Theme
    ViewBag.FontFamilyOne = "'Raleway'";            //CUSTOM FONT 1 - SETUP USES THE GOOGLE FONTS IMPORT METHOD
    ViewBag.FontFamilyTwo = "'Roboto'";             //CUSTOM FONT 2 - SETUP ALSO USES THE GOOGLE FONTS IMPORT METHOD
    ViewBag.MainThemeColor = "#0080a6";             //Default ProPay Blue
    ViewBag.ButtonBackgroundColor = "#0080a6";      //Default
    ViewBag.ButtonBorderColor = "#0080a6";          //Default Button Border Color
    ViewBag.FeaturesBackgroundColor = "#0080a6";    //Default Features Section Background Color
    ViewBag.FeaturesTextColor = "#FFFFFF";          //Features Text Color
    ViewBag.DisabledCookiesWarning = "hidden";            //TOGGLE COOKIES WARNING SECTION BETWEEN "hidden" or "" > Blank value activates section "disabled-cookies"
    ViewBag.HeroTaglineLabel = "Special merchant accounts for MaryKay consultants";   //HERO TAGLINE
    ViewBag.ButtonTextColor = "#FFFFFF";            // This is the font color used on all the buttons in the HERO image and Features and Pricing tables
    ViewBag.ButtonRadius = "12";                    // This Radius changes the round border for buttons found over the the HERO image.
    ViewBag.FooterBackgroundColor = "#0080a6";      //This is the Footer Background Color
    ViewBag.FooterTextColor = "#FFFFFF";            //This is the text color located in the footer

    //MARYKAY Theme
    //ViewBag.MainThemeColor = "#ef477e";             //MaryKay
    //ViewBag.ButtonBackgroundColor = "#ef136e";      //MaryKay
    //ViewBag.ButtonBorderColor = "#ef136e";          //MaryKay Button Border Color
    //ViewBag.FeaturesBackgroundColor = "#ef477e";    //MaryKay Features Section Background Color
    //ViewBag.FeaturesTextColor = "#FFFFFF";          //Features Text Color
    //ViewBag.DisabledCookiesWarning = "hidden";      //TOGGLE COOKIES WARNING SECTION BETWEEN "hidden" or "" > Blank value activates section "disabled-cookies"
    //ViewBag.HeroTaglineLabel = "Special merchant accounts for MaryKay consultants";   //HERO TAGLINE
    //ViewBag.ButtonTextColor = "#FFFFFF";            // This is the font color used on all the buttons in the HERO image and Features and Pricing tables
    //ViewBag.ButtonRadius = "12";                    // This Radius changes the round border for buttons found over the the HERO image.
    //ViewBag.FooterBackgroundColor = "#ef477e";      //This is the Footer Background Color
    //ViewBag.FooterTextColor = "#FFFFFF";            //This is the text color located in the footer

    //31Gifts
    //ViewBag.MainThemeColor = "#e01580";             //31Gifts
    //ViewBag.ButtonBackgroundColor = "#e01580";      //31Gifts
    //ViewBag.ButtonBorderColor = "#e01580";          //31Gifts Button Border Color
    //ViewBag.FeaturesBackgroundColor = "#e01580";    //MaryKay Features Section Background Color
    //ViewBag.FeaturesTextColor = "#FFFFFF";          //Features Text Color

    //iMobile3 Theme
    //ViewBag.MainThemeColor = "#000099";             //iMobile3
    //ViewBag.ButtonBackgroundColor = "#000099";      //Button Background Color
    //ViewBag.ButtonBorderColor = "#000099";          //Button Border Color
    //ViewBag.FeaturesBackgroundColor = "#000099";    //Features Section Background Color
    //ViewBag.FeaturesTextColor = "#FFFFFF";          //Features Text Color
    //ViewBag.DisabledCookiesWarning = "hidden";      //TOGGLE COOKIES WARNING SECTION BETWEEN "hidden" or "" > Blank value activates section "disabled-cookies"
    //ViewBag.HeroTaglineLabel = "Special merchant accounts for iMobile3 consultants";   //HERO TAGLINE
    //ViewBag.ButtonTextColor = "#FFFFFF";            // This is the font color used on all the buttons in the HERO image and Features and Pricing tables
    //ViewBag.ButtonRadius = "7";                     // This Radius changes the round border for buttons found over the the HERO image.
    //ViewBag.FooterBackgroundColor = "#303030";      //This is the Footer Background Color
    //ViewBag.FooterTextColor = "#c8c8c8";            //This is the text color located in the footer

    //Hero Banner
    ViewBag.SignUpButtonLabel = "Sign Up";
    ViewBag.LoginButtonLabel = "LOGIN";

    //Social Media Channels
    ViewBag.Facebook = "FacebookChannel";   //PARTNER's Facebook Channel
    ViewBag.Twitter = "Twitter";            //PARTNER's Twitter Handle
    ViewBag.YouTube = "YouTube";            //PARTNER's YouTube Channel
    ViewBag.LinkedIn = "LinkedIn";          //PARTNER's LinkedIn Username
    ViewBag.Instagram = "Instagram";        //PARTNER's Instagram Account

    //Footer
    ViewBag.Copyright = "2018 © ProPay Inc. All Rights Reserved. | ProPay Inc. 3400 N. Ashton Blvd, Suite 200, Lehi, UT 84043.  ProPay is a registered ISO of Wells Fargo Bank, N.A., Concord, CA. The ProPay Prepaid Debit Mastercards® are issued by MetaBank®, Member FDIC, pursuant to license by Mastercard International Incorporated. Mastercard is a registered trademark of Mastercard International Incorporated.";
}
<html lang="@ViewBag.Language" dir="@Html.Raw(ViewBag.LanguageDirection)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.PageTitle</title>
    @*<link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />*@  @*--- ORIGINAL BOOTSTRAP REFERENCE ---*@
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SlJL6LojdN8eNCOoIfK7KJ7SgRFeYBDu8tB1uxELbSAv+RVgD12pZmOcxTUTPXIg" crossorigin="anonymous">
    <style type="text/css">
        /*FONTS*/
        @@import url('https: //fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:300,400,500|Droid+Sans:300,400,500,600') all; //SET THE FONT FACES USING THE VIEWBAG
        body {font-family: @Html.Raw(ViewBag.FontFamilyTwo), Arial, sans-serif;font-weight: 400;color: #46484a;font-size: 17px;}
        h1, h2, h3, h4, h5, h6 {font-family: @Html.Raw(ViewBag.FontFamilyOne), Arial, sans-serif;}
        a.navbar-brand, a.logo {font-family: @Html.Raw(ViewBag.FontFamilyOne), Arial, sans-serif;color: #fff !important;font-size: 2rem;font-weight: 500;margin-top: 0;}
        h4.features-subheader {font-family: @Html.Raw(ViewBag.FontFamilyOne), sans-serif !important;font-size: 22px;text-align: center;font-weight: 300;padding: 8px 0 15px 0;}
        .features-description {font-family: @Html.Raw(ViewBag.FontFamilyOne), sans-serif;font-size: 17px;font-weight: 300 !important;text-align: center;}
        /*./FONTS/.*/

        #hero-container {background: #3d354f url('../../App_Themes/@Html.Raw(ViewBag.PartnerTheme)/img/hero.jpg') center no-repeat;background-size: cover;min-height: 42rem;height: auto;border-radius: 0;width: 100%;color: #fff;padding-top: 1rem;text-align:center;}
        @@media (max-width:800px){
        #hero-container {background: #3d354f url('../../App_Themes/@Html.Raw(ViewBag.PartnerTheme)/img/hero-tablet.jpg') center no-repeat;background-size: cover;min-height: 853px;height: auto;border-radius: 0;width: 100%;color: #fff;padding-top: 1rem;text-align:center;}
        }
        @@media (max-width:690px){
        #hero-container {background: #3d354f url('../../App_Themes/@Html.Raw(ViewBag.PartnerTheme)/img/hero-phablet.jpg') center no-repeat;background-size: cover;min-height: 640px;height: auto;border-radius: 0;width: 100%;color: #fff;padding-top: 1rem;text-align:center;}
        }
        @@media(max-width: 375px) {
        #hero-container {background: #3d354f url('../../App_Themes/@Html.Raw(ViewBag.PartnerTheme)/img/hero-mobile.jpg') center no-repeat;background-size: cover;min-height: 480px;height: auto;border-radius: 0;width: 100%;color: #fff;padding-top: 1rem;text-align:center;}
        }

        #features-container {background: @Html.Raw(ViewBag.FeaturesBackgroundColor) !important;border-top: 1px solid @Html.Raw(ViewBag.FeaturesBackgroundColor);border-bottom: 1px solid @Html.Raw(ViewBag.FeaturesBackgroundColor);}
        .features-header, .features-subheader, .features-tagline, .features-description {color:@Html.Raw(ViewBag.FeaturesTextColor);}

        .nav-tabs {margin-bottom: 30px;}
        .nav-tabs .nav-link.active {background-color:@Html.Raw(ViewBag.MainThemeColor);color:@Html.Raw(ViewBag.ButtonTextColor);box-shadow: 0 16px 26px -10px #999, 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #999;border-radius: 20px;font-weight: 600;}

        .nav-tabs .nav-link {background-color:#eee;color:#777;box-shadow: 0 16px 26px -10px #999, 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #999;border-radius: 20px;font-weight: 600;}
        .nav-tabs .nav-item.show .nav-link {background-color:@Html.Raw(ViewBag.MainThemeColor);color:@Html.Raw(ViewBag.ButtonTextColor);box-shadow: 0 16px 26px -10px #999, 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #999;border-radius: 20px;font-weight: 600;}

        .plan-header-name {display: inline;font-size: 26px;font-weight: 700;color:@Html.Raw(ViewBag.MainThemeColor); }
        .rates-as-low-as-percentage {border: solid 1px @Html.Raw(ViewBag.MainThemeColor);color: @Html.Raw(ViewBag.MainThemeColor);padding: 4px 7px 7px 7px;margin-left: 4px;font-size: 22px;}

        h1.modal-title-custom {display: inline;font-size: 1.225em;font-weight: 500;color:@Html.Raw(ViewBag.MainThemeColor); }
        h2.modal-title-custom {display: inline;font-size: 1.125em;font-weight: 500;color:@Html.Raw(ViewBag.MainThemeColor); }
        .close-modal-button {color: @Html.Raw(ViewBag.ButtonTextColor);background-color:@Html.Raw(ViewBag.MainThemeColor);border-color:@Html.Raw(ViewBag.MainThemeColor);font-size:1em;text-decoration:none;}

        .partner-btn {border: none;border-radius: 3px;position: relative;padding: 10px 25%;margin: 10px 1px;font-size: 12px;font-weight: 400;text-transform: uppercase;letter-spacing: 0;
                      will-change: box-shadow, transform;transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);}
        .partner-btn.btn-round {border-radius: 30px;}
        .partner-btn.custom-pricing-btn {color:@Html.Raw(ViewBag.ButtonTextColor); background-color:@Html.Raw(ViewBag.MainThemeColor);border-color:@Html.Raw(ViewBag.MainThemeColor);box-shadow: 0 2px 2px 0 #999, 0 3px 1px -2px #999, 0 1px 5px 0 #999;font-size: 1em;}
        .partner-btn.custom-pricing-btn:focus {box-shadow: 0 14px 26px -12px #999, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #999;}
        .partner-btn.custom-pricing-btn:active {box-shadow: 0 14px 26px -12px #999, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #999;}
        .partner-btn.custom-pricing-btn:hover {box-shadow: 0 14px 26px -12px #999, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #999;}

        .partner-cover-btn {border: solid 2px @Html.Raw(ViewBag.ButtonBorderColor);background-color:@Html.Raw(ViewBag.ButtonBackgroundColor);color: @Html.Raw(ViewBag.ButtonTextColor);
                            border-radius:@Html.Raw(ViewBag.ButtonRadius)px;padding: 12px 45px;margin: 10px 1px;font-weight: 400;text-transform: uppercase;
                            font-size:1em;text-decoration:none!important;position: relative;letter-spacing: 0;will-change: box-shadow, transform;
                           }
        .partner-cover-btn:hover{color: @Html.Raw(ViewBag.ButtonTextColor);}

        .features-and-pricing-holder {background-color:@Html.Raw(ViewBag.MainThemeColor);height: 30px;text-align: left;margin: 15px -15px;}
        .features-and-pricing-header {color:@Html.Raw(ViewBag.ButtonTextColor);padding: 5px 0 0 25px;font-weight: 600;font-size: 14px;letter-spacing: 0.1em;text-transform: uppercase;}
        .rates-divider {background-color:@Html.Raw(ViewBag.MainThemeColor);height: 5px;margin: 0 -15px;}
        .discounted-plan-percentage {background-color:@Html.Raw(ViewBag.MainThemeColor);padding: 6px;margin-left: 10px;font-size: 13px;color:@Html.Raw(ViewBag.ButtonTextColor);}
        a {color:@Html.Raw(ViewBag.MainThemeColor);text-decoration: none;}
        a:hover {color:@Html.Raw(ViewBag.MainThemeColor);text-decoration: underline;}

        #footer {background:@Html.Raw(ViewBag.FooterBackgroundColor);background-color:@Html.Raw(ViewBag.FooterBackgroundColor);}
        #footer p.footer-copyright {color: @Html.Raw(ViewBag.FooterTextColor);}
        #footer .nav-footer .nav-link {@Html.Raw(ViewBag.ButtonTextColor);}
        #footer .nav-footer .nav-link:hover {color: rgba(255, 255, 255, 0.9); }

        @@media (max-width:667px) {}
        @@media (max-width:667px) and (min-width:421px) {
            .plan-header-name {display: inline;font-size: 23px;font-weight: 600;color:@Html.Raw(ViewBag.MainThemeColor);}
            .plan-header-plan {display: inline;font-size: 23px!important;font-weight: 400;color: $color_tapa_approx;}
            .block-pricing .block-caption {margin-top: 10px;font-size: 56px;margin-bottom: 0;}

            .features-and-pricing-header {color:@Html.Raw(ViewBag.ButtonTextColor);padding: 5px 0 0 25px;font-weight: 500;font-size: 14px;letter-spacing: normal;text-transform: uppercase;}
        }
        @@media (max-width:420px) and (min-width:375px) {
            .plan-header-name {display: inline;font-size: 25px;font-weight: 600;color:@Html.Raw(ViewBag.MainThemeColor);}
            .plan-header-plan {display: inline;font-size: 25px!important;font-weight: 400;color: $color_tapa_approx;}
    </style>
    <link href="~/Content/features-and-pricing.min.css" rel="stylesheet" />
    @{
        Html.RenderPartial("_AnalyticsGoogleTagManager");
        Html.RenderPartial("_AnalyticsBingVerificationTag");
    }
</head>
<body>
    @{
        Html.RenderPartial("_AnalyticsGoogleTagManagerConfirmation");
    }
    <section id="disabled-cookies" class="container-fluid" @Html.Raw(ViewBag.DisabledCookiesWarning)>
        <div class="pt20 white text-center">
            <i class="fa fa-warning pr5"></i><span class="fw6 pr8">COOKIES REQUIRED!</span> This website requires cookies to be enabled! You must enable your browser cookies to be access the features built-in before signing up for a new account!
        </div>
    </section>
    <section id="hero-container">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            @*position-fixed" style="z-index:100 !important;"*@
            <div class="container">
                <a class="navbar-brand text-shadow-half mp0" href="Index"><img src="~/App_Themes/@Html.Raw(ViewBag.PartnerTheme)/img/logo-nav.png" /></a>
                <button class="navbar-toggler navbar-toggler-social" type="button" data-toggle="collapse" data-target="#navbar-4" aria-controls="navbar-4" aria-expanded="false" aria-label="Toggle navigation">@*CONNECT*@<i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbar-4">
                    <ul class="social navbar-nav mt-2 mt-md-0">
                        @{
                            Html.RenderPartial("_SocialMediaChannels");
                        }
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </nav>
        <div class="cover-container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-6">
                    <div class="cover-inner">
                        <div class="display-block pb30"><img src="~/App_Themes/@Html.Raw(ViewBag.PartnerTheme)/img/logo.png" class="img-fluid" /></div>
                        <div class="pt15"><a href="#" id="SignUpLink" class="partner-cover-btn" title="Easy account sign up. Start Now!" onclick="dataLayer.push({'pageTitle': '@ViewBag.PageTitle','event': '@ViewBag.SignUpButtonLabel'});">@Html.Raw(ViewBag.SignUpButtonLabel)</a></div>
                        <div class="pb10 mb20"></div>
                        <h1 class="jumbotron-heading text-shadow">Special merchant accounts for Mary Kay consultants</h1>
                        <div class="pb30"></div>
                        <p class="lead" hidden>Be the first to know when we are ready to launch. Etiam porta sem malesuada magna mollis euismod. Sed mollis neque at aliquam rhoncus, consectetur adipiscing elit.</p>
                        <div class="pt30"><a href="#" id="LoginLink" class="partner-cover-btn" title="Login to your account!" onclick="dataLayer.push({'pageTitle': '@ViewBag.PageTitle','event': '@ViewBag.LoginButtonLabel'});">@Html.Raw(ViewBag.LoginButtonLabel)</a></div>
                        <div class="pb10 mb10"></div>
                    </div>
                </div><div class="col-md-1"></div>
            </div>
        </div>
    </section>
    @*  ******************* VALUE COLUMNS *******************  *@
    <section id="features-container" class="content">
        <div class="container">
            <div class="row justify-center plr10">
                <div class="col-md-12 text-center mr-auto">
                    <h2 class="features-header">Accept Credit Cards and Debit Cards for your business</h2>
                    <h4 class="features-subheader">Why do Mary Kay consultants choose ProPay for their business? Because only ProPay offers this unique set of payment tools so that you never miss a chance to make a sale.</h4>
                </div>
                <div class="col-md-12 text-center mr-auto">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="display-block">
                                <img src="~/App_Themes/@Html.Raw(ViewBag.PartnerTheme)/img/feature-1.png" class="img-fluid" />
                            </div>
                            <h4 class="features-tagline">@Html.Raw(ViewBag.PartnerName) Debit MasterCard<sup>®</sup></h4>
                            <p class="features-description">Promote your brand every time you use your card. Access to funds within 24 hours including holidays and weekends.</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="display-block">
                                <img src="~/App_Themes/@Html.Raw(ViewBag.PartnerTheme)/img/feature-2.png" class="img-fluid" />
                            </div>
                            <h4 class="features-tagline">No need to transfer funds around</h4>
                            <p class="features-description">Spend funds from your commissions and sales directly from your ProPay ccount to buy more product from Mary Kay corporate.</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="display-block">
                                <img src="~/App_Themes/@Html.Raw(ViewBag.PartnerTheme)/img/feature-3.png" class="img-fluid" />
                            </div>
                            <h4 class="features-tagline">@Html.Raw(ViewBag.PartnerName) branded card reader</h4>
                            <p class="features-description">Show off your Mary Kay business every time you swipe a credit/debit card for a sale.</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <div class="display-block">
                                <img src="~/App_Themes/@Html.Raw(ViewBag.PartnerTheme)/img/feature-4.png" class="img-fluid" />
                            </div>
                            <h4 class="features-tagline">Integration to your @Html.Raw(ViewBag.PartnerName) personal website</h4>
                            <p class="features-description">Only ProPay is integrated with your Mary Kay Personal Website so that you can accept payments any time online.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*./******************* VALUE COLUMNS *******************/.*@

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 text-md-left text-sm-left text-xs-center">
                    <p class="footer-copyright">@Html.Raw(ViewBag.Copyright)</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 text-center text-md-center text-xs-center mb-4">
                    <ul class="social">
                        @{
                            Html.RenderPartial("_SocialMediaChannels");
                        }
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.0/js/bootstrap.min.js" integrity="sha384-1AHwFvFDF+iQPDBasw2LKa8PdkI8aYv2ad2o197DHC8qr4LuwSe44JY1THkowrqg" crossorigin="anonymous"></script>
</body>
</html>